  <div class="container">
  <h1>ログ閲覧</h1>
<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1">UserLog</a></li>
        <li><a href="#_page_2">StockLog</a></li>
    </ul>
 
    <div class="frames">
        <div class="frame" id="_page_1">Empty!</div>
        <div class="frame" id="_page_2">Empty!</div>
    </div>
</div>
  </div>
