<header class="bg-blue">
  <div class="navigation-bar blue">
    <div class="navigation-bar-content container">
<% if(session.permission === 1){ %>
      <a href="/request/" class="element"><span class="icon-home"></span> リクエスト</a>
      <span class="element-divider"></span>
      <a class="element1 pull-menu" href="#"></a>
      <ul class="element-menu">
        <li><a href="/stock/" class="element">在庫リスト</a>
        <li><a href="/user/" class="element">ユーザー検索</a>
        <li><a href="/log/" class="element">ログ閲覧</a>
        <li><a href="/auth/logout" class="element place-right">Logout</a>
        <li><a class="element place-right"><span class="icon-user"></span> <%= session.user_id %></a>
      </ul>
<% }else if(session.permission === 0){ %>
      <a href="/stock/" class="element"><span class="icon-home"></span> 商品リスト</a>
      <span class="element-divider"></span>
      <a class="element1 pull-menu" href="#"></a>
      <ul class="element-menu">
        <a href="/request/" class="element">リクエスト</a>
        <a href="/user/" class="element"><span class="icon-user"></span> <%= session.user_id %> <%= session.balance %></a>
        <a href="/auth/logout" class="element place-right">Logout</a>
      </ul>
<% }else{ %>
      <a href="/" class="element"><span class="icon-home"></span></a>
      <span class="element-divider"></span>
<% } %>
    </div>
  </div>
</header>
