
        <div class="container grid">
            <div class="row">
            <form action="stock/search.html">
                <fieldset>
                    <div class="panel span4">
                        <div class="panel-header">
                            Login
                        </div>
                        <div class="panel-content">
                            <label>ID</label>
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="ID">
                            </div>
                            <label>Password</label>
                            <div class="input-control password" data-role="input-control">
                                <input type="password" placeholder="type password" autofocus>
                            </div>
                                <input type="submit" value="Login" class="large">
                                <input type="reset" value="Reset" class="large">
                        </div>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>