<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/iconFont.css" />
        <link rel="stylesheet" href="/css/metro-bootstrap.css" />
        <link rel="stylesheet" href="/css/metro-bootstrap-responsive.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Login</title>

    <body class="metro">
    <% include header %>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jqplot/jqplot.cursor.min.js"></script>
    <script src="/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
    <script src="/js/jqplot/jqplot.dragable.min.js"></script>
    <script src="/js/jqplot/jquery.jqplot.min.js"></script>
    <script src="/js/jquery/jquery.dataTables.js"></script>
    <script src="/js/jquery/jquery.easing.1.3.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/jquery/jquery.mousewheel.js"></script>
    <script src="/js/jquery/jquery.widget.min.js"></script>
    <script src="/js/load-metro.js"></script>
    <script src="/js/metro.min.js"></script>
    <script src="/js/metro/metro-accordion.js"></script>
    <script src="/js/metro/metro-button-set.js"></script>
    <script src="/js/metro/metro-calendar.js"></script>
    <script src="/js/metro/metro-carousel.js"></script>
    <script src="/js/metro/metro-core.js"></script>
    <script src="/js/metro/metro-countdown.js"></script>
    <script src="/js/metro/metro-date-format.js"></script>
    <script src="/js/metro/metro-datepicker.js"></script>
    <script src="/js/metro/metro-dialog.js"></script>
    <script src="/js/metro/metro-drag-tile.js"></script>
    <script src="/js/metro/metro-dropdown.js"></script>
    <script src="/js/metro/metro-fluentmenu.js"></script>
    <script src="/js/metro/metro-global.js"></script>
    <script src="/js/metro/metro-hint.js"></script>
    <script src="/js/metro/metro-initiator.js"></script>
    <script src="/js/metro/metro-input-control.js"></script>
    <script src="/js/metro/metro-listview.js"></script>
    <script src="/js/metro/metro-live-tile.js"></script>
    <script src="/js/metro/metro-loader.js"></script>
    <script src="/js/metro/metro-locale.js"></script>
    <script src="/js/metro/metro-notify.js"></script>
    <script src="/js/metro/metro-panel.js"></script>
    <script src="/js/metro/metro-plugin-template.js"></script>
    <script src="/js/metro/metro-progressbar.js"></script>
    <script src="/js/metro/metro-pull.js"></script>
    <script src="/js/metro/metro-rating.js"></script>
    <script src="/js/metro/metro-scroll.js"></script>
    <script src="/js/metro/metro-slider.js"></script>
    <script src="/js/metro/metro-stepper.js"></script>
    <script src="/js/metro/metro-streamer.js"></script>
    <script src="/js/metro/metro-tab-control.js"></script>
    <script src="/js/metro/metro-table.js"></script>
    <script src="/js/metro/metro-tile-transform.js"></script>
    <script src="/js/metro/metro-times.js"></script>
    <script src="/js/metro/metro-touch-handler.js"></script>
    <script src="/js/metro/metro-treeview.js"></script>
    <script src="/js/metro/metro-wizard.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
