<div class="container">
  <h1>All Edit Users</h1>
  <form action="/user/alledit" method="post" id="alledit" onsubmit="return confirm();">
    <fieldset>
      <div class="input-control checkbox" data-role="input-control">
      	<label>一括繰り上げ</label>
        <label class="inline-block">
          <input type="checkbox" name="allUp" value="1" />
          <span class="check"></span>
            ユーザーの学年を一括で繰り上げる
       	</label>
	  </div>

      <label>一括BAN</label>
		<div class="input-control checkbox" data-role="input-control">
			<label class="inline-block margin5">
				<input type="checkbox" name="grade" value="1"/>
				<span class="check"></span>
					B4
			</label>
			<label class="inline-block margin5">
				<input type="checkbox" name="grade" value="2"/>
				<span class="check"></span>
					M1
			</label>
			<label class="inline-block margin5">
				<input type="checkbox" name="grade" value="3"/>
				<span class="check"></span>
					M2
			</label>
			<label class="inline-block  margin5">
				<input type="checkbox" name="grade" value="4"/>
				<span class="check"></span>
							その他
			</label>
		</div>

    </fieldset>
    <input type="submit" value="確認" class = "button large info">
    <a href="/user"><button class="button large" type="button">キャンセル</button></a>
  </form>
</div>

<script>
  $(document).ready(function(){
  	$("#alledit input[name=allUp]").change(function(){
  		if(this.checked){
  			$("#alledit input[name=grade]").attr("disabled", true);
  			$("#alledit input[name=grade]").attr("checked", false);
  		}
  		else{
  			$("#alledit input[name=grade]").attr("disabled", false);  			
  		}
  	});
  });
  var isConfirmDisplayed=false;
  var confirm=function(){

  	var n_grade='';

	var isChecked1=$('#alledit input[name="grade"][value=1]').prop('checked');
	if(isChecked1==true){
		n_grade+='B4 ';
	}
	var isChecked2=$('#alledit input[name="grade"][value=2]').prop('checked');
	if(isChecked2==true){
		n_grade+='M1 ';
	}
	var isChecked3=$('#alledit input[name="grade"][value=3]').prop('checked');
	if(isChecked3==true){
		n_grade+='M2 ';
	}
	var isChecked4=$('#alledit input[name="grade"][value=4]').prop('checked');
	if(isChecked4==true){
		n_grade+='その他';
	}
    var n_allUp=$('#alledit input[name="allUp"]:checked').val();

    if(n_allUp==1){
    	n_allUp="<span class='fg-red'>ユーザーの学年を一括で繰り上げる</span>";
    	var flag=1;
    }

    var allUp="<dt>一括繰り上げ</dt><dd>"+n_allUp+"</dd>";
    var allBan="<dt>一括BAN</dt><dd>"+n_grade+"</dd>";
    if(flag!=1){
    	allUp='';
    }
    if(n_grade==''){
    	allBan='';
    }
    if(!isConfirmDisplayed){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: '変更確認',
          width: 500,
          padding: 10,
          content: '<p>以下の内容で変更します。よろしいですか?</p><dl>'+allUp+allBan+'</dl><button class="large info" onclick="$(\'#alledit\').submit();">OK</button><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
          onShow:function(){isConfirmDisplayed=true;},
      });
      $.Dialog.close=(function(){
        var context=$.Dialog;
        var origin=$.Dialog.close;
        return (function(){isConfirmDisplayed=false;origin.call(context);});
      })();
      return false;
    }
  }
</script>
