<div class="container">
    <h1>New User</h1>
    <form action="/user/create" method="post" id="create" onsubmit="return confirm();">
    <fieldset>
      <label>名前</label><div class="input-control text"><input name="name" type="text" class="size6 validate[required,maxSize[20]]"></div>
      <label>ユーザーID</label><div class="input-control text"><input name="user_id" id="user_id" type="text" class="size6 validate[required,maxSize[20],funcCall[isUnique]]]"></div>
      <label>パスワード</label><div class="input-control text"><input name="password" type="password" id="password" class="size6 validate[required,maxSize[20]]"></div>
      <label>パスワードの確認</label><div class="input-control text"><input name="password_confirm" type="password" class="size6 validate[required,equals[password]]"></div>
      <label>学年</label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="1" checked/>
           <span class="check"></span>
             B4
       </label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="2" />
           <span class="check"></span>
             M1
       </label>
       <label class="input-control radio margin5" data-role="input-control">
          <input type="radio" name="grade" value="3" />
           <span class="check"></span>
             M2
       </label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="4" />
           <span class="check"></span>
             その他
       </label>

      <label>権限</label>
      <div class="input-control select size6">
        <select name="permission">
          <option value="1">管理者</option>
          <option value="0" selected>購入者</option>
        </select>
      </div>
      <label>ツケの上限</label><div class="input-control text"><input name="limit" type="number" value="0" class="size6 validate[required,custom[integer],min[0]]">円</div>
    </fieldset>
    <input type="submit" class="large info" value="確認">
    <button class="large" onclick="location.href='/user/'" type="button">キャンセル</button>
    </form>
  </div>
<script src="/js/validation/rule.isunique.js"></script>
<script>
  $(document).ready(function(){
    $("#create").validationEngine();
  });
  var isConfirmDisplayed=false;
  var confirm=function(){
    if(!$("#create").validationEngine('validate'))return false;
    var n_grade=$('#create input[name="grade"]:checked').val();

    switch (n_grade){
      case "1": n_grade="B4"; break;
      case "2": n_grade="M1"; break;
      case "3": n_grade="M2"; break;
      case "4": n_grade="その他"; break;
    }
    var n_permission=$('#create select[name="permission"]').val();
    switch (n_permission){
      case "0": n_permission="購入者"; break;
      case "1": n_permission="管理者"; break;
    }


    var $content=$("<div />");
    $("<dt />").text("名前").appendTo($content);
    $("<dd />").text($('#create input[name="name"]').val()).appendTo($content);
    $("<dt />").text("ユーザーID").appendTo($content);
    $("<dd />").text($('#create input[name="user_id"]').val()).appendTo($content);
    $("<dt />").text("学年").appendTo($content);
    $("<dd />").text(n_grade).appendTo($content);
    $("<dt />").text("ツケの上限").appendTo($content);
    $("<dd />").text($('#create input[name="limit"]').val()+"円").appendTo($content);

    if(!isConfirmDisplayed){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: '登録確認',
          width: 500,
          padding: 10,
          content: '<p>以下の内容で登録します。よろしいですか?</p><dl>'+$content.html()+'</dl><button class="large info" onclick="$(\'#create\').submit();">OK</button><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
          onShow:function(){isConfirmDisplayed=true;},
      });
      $.Dialog.close=(function(){
        var context=$.Dialog;
        var origin=$.Dialog.close;
        return (function(){isConfirmDisplayed=false;origin.call(context);});
      })();
      return false;
    }
  }
</script>
