		<div class="container">
			<h1>Search Users</h1>
			<div class="panel" data-role="panel">
			<div class="panel-header bg-lightBlue fg-white">
			条件
			</div>
			<div class="panel-content">
			<form action="/user/" method="get">
				<fieldset>
					<label>名前</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" name="name" class="span10">
					</div>
					<label>学年</label>
					<div class="input-control checkbox" data-role="input-control">
						<label class="inline-block">
							<input type="checkbox" name="grade" value="1" />
							<span class="check"></span>
							B4
						</label>
						<label class="inline-block">
							<input type="checkbox" name="grade" value="2" />
							<span class="check"></span>
							M1
						</label>
						<label class="inline-block">
							<input type="checkbox" name="grade" value="3" />
							<span class="check"></span>
							M2
						</label>
						<label class="inline-block">
							<input type="checkbox" name="grade" value="4" />
							<span class="check"></span>
							その他
						</label>
					</div>
					<label>残高</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" name="from_balance" class="size5">円～
						<input type="text" name="to_balance" class="size5">円
					</div>
					<label>ソート方法</label>
					<div class="input-control select span6">
    				<select name="sort">
							<option value="name">名前</option>
							<option value="grade">学年</option>
							<option value="balance">残高</option>
						</select>
					</div>

					<div class="clearfix">
					<div class="input-control radio inline-block" data-role="input-control">
						<label class="inline-block">
							<input type="radio" name="r1" value="1"checked />
							<span class="check"></span>
							昇順
						</label>
						<label class="inline-block">
							<input type="radio" name="r1" value="2"/>
							<span class="check"></span>
							降順
						</label>
					</div>
					</div>

					<input type="submit" value="検索" class="large">
				</fieldset>
			</form>
			</div>
			</div>

			<h2>検索結果</h2>
      <div class="place-right"><a href="/user/create"><button class="default span 2">新規登録</button></a></div>
			<table class="table striped bordered hovered">
				<thead>
					<tr>
						<th class="text-left"><a href="search.html" class="fg-black">名前<i class="icon-menu"></i></a></th>
						<th class="text-left"><a href="search.html" class="fg-black">学年<i class="icon-menu"></i></a></th>
						<th class="text-left"><a href="search_sort.html" class="fg-black">残高<i class="icon-menu"></i></a></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<found.length; i++){ %>
					<tr class=""><td><a href="/user/<%= found[i].user_id %>"><%= found[i].name %></a></td><td>
						<% switch(found[i].grade){
								case 1: %>
									B4<% break; 
								case 2: %>
									M1<% break;
								case 3: %>
									M2<% break;
								case 4: %>
									その他
						<% } %>
					</td><td><%= found[i].balance %>円</td></tr>
					<% } %>
				</tbody>
			</table>

		</div>

