<div class="container">
  <h1>Edit Info</h1>
  <form action="/user/mypage/edit" method="post" id="myedit" onsubmit="return confirm();">
    <fieldset>
      <label>名前</label><div class="input-control text"><input name="name" type="text" value=<%= user.name %> class="size6 validate[required]"></div>
      <label>ユーザーID</label><div class="input-control text"><input name="user_id" type="text" value=<%= user.user_id %> class="size6 validate[required]"></div>
      <label>学年</label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="1" <% if(user.grade==1){%>checked<%}%>/>
           <span class="check"></span>
             B4
       </label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="2" <% if(user.grade==2){%>checked<%}%>/>
           <span class="check"></span>
             M1
       </label>
       <label class="input-control radio margin5" data-role="input-control">
          <input type="radio" name="grade" value="3" <% if(user.grade==3){%>checked<%}%>/>
           <span class="check"></span>
             M2
       </label>
       <label class="input-control radio margin5" data-role="input-control">
         <input type="radio" name="grade" value="4" <% if(user.grade==4){%>checked<%}%>/>
           <span class="check"></span>
             その他
       </label>
      <br>
      </fieldset>
      <p>
      <a href="/user/<%= session.user_id%>/password"><button type="button" class="button large default">パスワードの変更</button></a>
      </p>
      <input type="submit" value="確認" class = "button large info">
      <a href="/user/mypage"><button class="button large" type="button">キャンセル</button></a>
      </form>
    </div>

        <script>
  $(document).ready(function(){
    $("#myedit").validationEngine();
  });
  var isConfirmDisplayed=false;
  var confirm=function(){
    if(!$("#myedit").validationEngine('validate'))return false;
    var n_grade=$('#myedit input[name="grade"]:checked').val();

    switch (n_grade){
      case "1": n_grade="B4"; break;
      case "2": n_grade="M1"; break;
      case "3": n_grade="M2"; break;
      case "4": n_grade="その他"; break;
    }

    var name="<dt>名前</dt><dd>"+$('#myedit input[name="name"]').val()+"</dd>";
    var user_id="<dt>ユーザーID</dt><dd>"+$('#myedit input[name="user_id"]').val()+"</dd>";
    var grade="<dt>学年</dt><dd>"+n_grade+"</dd>";

    if(!isConfirmDisplayed){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: '変更確認',
          width: 500,
          padding: 10,
          content: '<p>以下の内容で変更します。よろしいですか?</p><dl>'+name+user_id+grade+'</dl><button class="large info" onclick="$(\'#myedit\').submit();">OK</button><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
          onShow:function(){isConfirmDisplayed=true;},
      });
      $.Dialog.close=(function(){
        var context=$.Dialog;
        var origin=$.Dialog.close;
        return (function(){isConfirmDisplayed=false;origin.call(context);});
      })();
      return false;
    }
  }
</script>