<div class="container">
  <h1>Edit Password</h1>
  <form action="/user/<%= user.user_id%>/password" method="post" id="password">
    <fieldset>
      <label>新しいパスワード</label><div class="input-control text"><input name="password" type="password" id="password1" class="size6 validate[required]"></div>
      <label>新しいパスワードの再入力</label><div class="input-control text"><input name="password_confirm" type="password" class="size6 validate[required,equals[password1]]"></div>
    </fieldset>
    <input type="submit" value="確認" class = "button large info">
  <a href="/user/<%= user.user_id %>"><button class="button large" type="button">キャンセル</button></a>    
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#password").validationEngine();
  });
</script>