<div class="container">
  <h1>パスワードの変更</h1>
  <form action="/user/<%= user.user_id%>/password" method="post">
    <fieldset>
      <label>パスワード</label><div class="input-control text"><input name="password" type="password" class="size6"></div>
      <label>パスワードの確認</label><div class="input-control text"><input name="password_confirm" type="password" class="size6"></div>
    </fieldset>
    <input type="submit" value="確認" class = "button large info">
  </form>
	<a href="/user/<%= user.user_id %>"><button class="button large">キャンセル</button></a>
</div>