<div class="container">
	<h1>New Stock</h1>
<form action="/stock/create" method="post"onsubmit="return confirm();" id="create_stock">
  <fieldset>
	<label>商品名</label><div class="input-control text"><input type="text" value="" name="name" class="size6 validate[required]"></div>
	<label>カテゴリ</label><div class="input-control text"><input type="text" value="" name="category" autocomplete="on" list="cat" class="size6 validate[required]"></div>
<datalist id="cat">
<% for(var i=0;i<category.length;i++){ %>
<option value="<%= category[i].name %>">
<% } %>
</datalist>
  <label>仕入れ値</label><div class="input-control text"><input type="number" value="" name="buy_price" class="size6 validate[required,custom[integer],min[1]]"></div>
  <label>販売価格</label><div class="input-control text"><input type="number" value="" name="price" class="size6 validate[required,custom[integer],min[1]]"></div>

  <canvas id="photo" width="300" height="250" style="border:solid 1px black;cursor:move"></canvas>
  <div class="slider span5" data-role="slider" id="slider"></div>
  <input type="hidden" id="base64" name="base64">
  <label>画像のアップロード</label><div class="input-control"><input type="file" name="file" id="file"></div>
    <input type="submit" value="確認" class = "button large info">
    <input type="button" value="キャンセル" onClick="location.href='/stock/'" class = "button large">
  </fieldset>
</form>
</div>
<script>
jQuery(document).ready(function(){
  (function(){
    var scale=25;
    var img=new Image();
    var cvs=document.getElementById('photo');
    var ctx=cvs.getContext('2d');
    var offsetX=0, offsetY=0;
    var mx=0, my=0, stat=false;
    ctx.font='20px Segoe UI Light_, Open Sans Light, Verdana, Arial, Helvetica, sans-serif';
    ctx.fillText("Image will visible here.", 50, 100);
    ctx.fillText("Image is draggable and scalable.", 20, 150);
    var draw=function(){
      w=img.width*(scale/50)*2;
      h=img.height*(scale/50)*2;
      ctx.clearRect(0, 0, cvs.width, cvs.height);
      ctx.drawImage(img, offsetX, offsetY, w, h);
    }
    $("#slider").slider({
      position:25,
      accuracy:1,
      min:1,
      max:100,
      showHint:true,
      change:function(value, slider){scale=value;draw();}
    });
    cvs.addEventListener("mousedown", function(e){
      mx=e.screenX;
      my=e.screenY;
      stat=true;
    }, false);
    document.addEventListener("mousemove", function(e){
      if(stat){
        w=img.width*(scale/50)*2;
        h=img.height*(scale/50)*2;
        ctx.clearRect(0, 0, cvs.width, cvs.height);
        ctx.drawImage(img, offsetX+e.screenX-mx, offsetY+e.screenY-my, w, h);
      }
    });
    document.addEventListener("mouseup", function(e){
      if(stat){
        offsetX+=(e.screenX-mx);
        offsetY+=(e.screenY-my);
        draw();
      }
      stat=false;
    }, false);
    $("#file").change(function(){
      if(window.File){
        var reader=new FileReader();
        var file=$("#file").prop("files")[0];
        reader.readAsDataURL(file);
        reader.onload=function(e){
          img.src=reader.result;
          img.onload=function(){

            draw();
          }
        };
      }
    });
  })();
  jQuery("#create_stock").validationEngine();
});
  var isConfirmDisplayed=false;
  var confirm=function(){
    if(!$("#create_stock").validationEngine('validate'))return false;
    $("#base64").val(document.getElementById('photo').toDataURL());
    var name="<dt>商品名</dt><dd>"+$('#create_stock input[name="name"]').val()+"</dd>";
    var category="<dt>カテゴリ</dt><dd>"+$('#create_stock input[name="category"]').val()+"</dd>";
    var buy_price="<dt>仕入れ値</dt><dd>"+$('#create_stock input[name="buy_price"]').val()+"</dd>";
    var price="<dt>販売価格</dt><dd>"+$('#create_stock input[name="price"]').val()+"</dd>";
    if(!isConfirmDisplayed){
      $.Dialog({
          shadow: true,
          overlay: false,
          icon: '<span class="icon-rocket"></span>',
          title: '新規登録確認',
          width: 500,
          padding: 10,
          content: '<p>以下の内容で登録します。よろしいですか?</p><dl>'+name+category+buy_price+price+'</dl><button class="large info" onclick="$(\'#create_stock\').submit();">OK</button><button class="large" onclick="$.Dialog.close()">キャンセル</button>',
          onShow:function(){isConfirmDisplayed=true;},
      });
      $.Dialog.close=(function(){
        var context=$.Dialog;
        var origin=$.Dialog.close;
        return (function(){isConfirmDisplayed=false;origin.call(context);});
      })();
      return false;
    }
  }
</script>
